---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Creative Portfolio">
  <canvas id="3d-bg" class="fixed top-0 h-full w-full bg"></canvas>
  <h1>Welcome to my creative portfolio!</h1>
</Layout>
