<section
  id="artistic-section"
  class="z-10 bg-black min-h-[200vh] w-full flex items-center justify-center relative"
>
  <div id="canvas-container" class="absolute top-0 left-0 w-full h-full"></div>
</section>

<script>
  import {
    initArtisticSection,
    setupScrollAnimation,
  } from "../scripts/artisticSectionBackground";

  if (typeof window !== "undefined") {
    initArtisticSection();
    setupScrollAnimation();
  }
</script>
