<canvas id="3d-bg" class="fixed top-0 h-full w-full bg -z-10"></canvas>
<div class="h-screen w-full"></div>

<script>
  import { Viewer } from "../viewer/Viewer";
  import { sources } from "../viewer/utils/Source";

  document.addEventListener("astro:page-load", () => {
    const canvas = document.getElementById("3d-bg");

    new Viewer(canvas as HTMLCanvasElement, sources);
  });
</script>
